# Session 3 - Introduction to SpaCy

In [1]:
#importing a package
import spacy

In [2]:
#Use spaCy with a particular model and assign a variable
#Working with a pipeline

nlp = spacy.load("en_core_web_md")

In [3]:
#Check what type the new variable is
type(nlp)

spacy.lang.en.English

In [5]:
#sample sentence
text = "My name is Laura and I have two jobs"

In [6]:
#run the text throug the spaCy model
#first create spaCy doc

doc = nlp(text)

In [7]:
type(doc)

spacy.tokens.doc.Doc

In [8]:
print(doc)

My name is Laura and I have two jobs

In [9]:
#look at the individual tokens in the doc with a "for loop"

for token in doc:
    print(token.text)

My
name
is
Laura
and
I
have
two
jobs

In [16]:
#The different attributes in spaCy
for token in doc:
    print(token.i,token.text, token.pos_, token.dep_, token.morph)

#token.i er nummer i listen
#token.pos er hvilken annotation den har givet ordet, hvert tal svarer til en word class
#token.pos_ er hvilken word class ordet har, skrevet ud
#token.dep_ er hvordan ordene h√¶nger sammen med andre
#token.morph viser alt muligt om hvert enkelt ord

0 My PRON poss Number=Sing|Person=1|Poss=Yes|PronType=Prs
1 name NOUN nsubj Number=Sing
2 is AUX ROOT Mood=Ind|Number=Sing|Person=3|Tense=Pres|VerbForm=Fin
3 Laura PROPN attr Number=Sing
4 and CCONJ cc ConjType=Cmp
5 I PRON nsubj Case=Nom|Number=Sing|Person=1|PronType=Prs
6 have VERB conj Mood=Ind|Tense=Pres|VerbForm=Fin
7 two NUM nummod NumType=Card
8 jobs NOUN dobj Number=Plur

In [17]:
#NER - Named Entity...

for entity in doc.ents:
    print(entity.text, entity.label_)

#doc.ents er hvor mange der har en entity
#entity.text er alle de tokens der har en entity
#entity.label_ er hvilken entity token har

Laura PERSON
two CARDINAL

## Pandas Package

In [18]:
#THE package for working with tabular data. Can use it on every datatype
import pandas as pd

/tmp/ipykernel_1026/446117455.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [24]:
#Print rows containing a certain amount of values
annotations = []
for token in doc:
    annotations.append([token.text, token.pos_, token.dep_])

In [28]:
#Create a dateframe from the rows and give the new coloumns specific names
df = pd.DataFrame(annotations, columns=["text","pos","dep"])

In [29]:
df

    text    pos     dep
0     My   PRON    poss
1   name   NOUN   nsubj
2     is    AUX    ROOT
3  Laura  PROPN    attr
4    and  CCONJ      cc
5      I   PRON   nsubj
6   have   VERB    conj
7    two    NUM  nummod
8   jobs   NOUN    dobj

In [31]:
#slice the data
df["pos"].value_counts()

pos
PRON     2
NOUN     2
AUX      1
PROPN    1
CCONJ    1
VERB     1
NUM      1
Name: count, dtype: int64

In [34]:
#save data
df.to_csv("annotations.csv")

In [35]:
#open a file
input_df = pd.read_csv("annotations.csv")

In [36]:
input_df

   Unnamed: 0   text    pos     dep
0           0     My   PRON    poss
1           1   name   NOUN   nsubj
2           2     is    AUX    ROOT
3           3  Laura  PROPN    attr
4           4    and  CCONJ      cc
5           5      I   PRON   nsubj
6           6   have   VERB    conj
7           7    two    NUM  nummod
8           8   jobs   NOUN    dobj